<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">


    <!-- Invoke 'Generate' action to add tags or functions -->
    <!--声明servlet-->
    <servlet>
        <servlet-name>drafire.servlet</servlet-name>
        <servlet-class>com.drafire.framework.servlet.DrafireServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>application.properties</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>   <!--1 表示启动程序时候就执行  0 表示启动程序时候不执行 -->
    </servlet>
    <!--声明servletMapping-->
    <servlet-mapping>
        <servlet-name>drafire.servlet</servlet-name>
        <url-pattern>/</url-pattern>      <!--这里用来做匹配拦截url请求,/表示匹配所有-->
    </servlet-mapping>
</web-app>
